.nav {
    position: relative;
    z-index: 1001;
    background-color: #fff;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav__link {
    color: var(--dark-blue);
}

.nav__link:hover {
    text-decoration: underline;
}